@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.container {
    padding-left: 10vw;
    padding-right: 10vw;
}
.ocupa-janela{
    height: 100vh;
}

/* HEADER/NAV  */
.nave-bar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #00000021;
}

.nave-bar-conteudo{
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.nav-botao-login{
    text-align-last:center;
    height:10vh;
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-botao-login button{
    width: 123px;
    height: 50px;
    left: 100px;
    top: 22px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgb(33 123 244 / 34%);
    border-radius: 14px;
    color:white;
    border:none;
    
}

.nave-bar-conteudo div{
    padding-left:5%;
} 

.home-img{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}


.home-img img{
    width: 585.52px;
    height: 501.47px;
}

.home-conteudo-community{
    margin-top: 58px;
    width: 177px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7f1fe;
    border-radius: 8px;
    
}

.home-conteudo-tudo{
    padding-top: 7%;
}

.home-conteudo-botoes{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.home-conteudo-texto{
    padding-top:9%;
}

.home-conteudo-texto-extra-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

.home-conteudo-texto-extra-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656464;
}

.home-conteudo-aboutmore{
    margin-top: 58px;
    width: 162px;
    height: 62px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #217BF4;
    border-radius: 14px;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.home-conteudo-invitefriend{
    margin-top: 58px;
    width: 162px;
    height: 62px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #217bf4;
    border-radius: 14px;
}

.home-conteudo-community div{
    opacity:1;
}

.home-conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ABOUT US */
.aboutus{
    background-color: white;
    height: 100vh;

}
.aboutus .tudo{
    display: flex;
    align-items: center;
    gap: 100px;
}

.aboutus .tudo .Textoaboutus{
    /* width: 43vh; */
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 15px;
    padding-left: 135px;
    /* margin-right: 190px; */
}

.aboutus .tudo .Textoaboutus .titulo{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 36px;
    color: #0A093D;
    line-height: 48px;

}

.aboutus .tudo .containerimg{
    width: 80vw;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 134px;
    gap: 23px;
    
}

.aboutus .tudo .container .imagenssmall{ 
    height: 20vw;
    display: grid;
    gap: 20px;
   
}

.aboutus .tudo .container .imagembig{
    padding: auto;
    margin-right: 30vh;
}

ol{ 
    list-style-type:disc;
    list-style-position: inside;
    color: #171648;
    
}

.aboutus .container .imagembig {
    padding: auto;
}


/* MEMBROS */
.membros {
    width: 100%;
}

.membros .container .textocima {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.membros .container .textocima .azul-valuable {
    color: #217BF4;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
}

.membros .container .textocima .our-active {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 36px;
    color: #0A093D;

}

.membros .container .textocima .texto {
    color: #656464;
    width: 30vw;
    text-align: center;

}

.membros .container .textocima .box-buttons {
    background-color: #F2F7FF;
    height: 10vh;
    display: flex;
    align-items: center;
    border-radius: 14px;
    justify-content: center;
    margin-top: 40px;

}

.membros .container .textocima .box-buttons>a {
    color: #2F2C4A;
    opacity: 0.8;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
}

.membros .container .textocima .box-buttons>a.active {
    background-color: #217BF4;
    border-radius: 14px;
    color: #FfFfFF;
    box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
}

.membros .container .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
}

.membros .container .team .card-homem {
    border-radius: 14px;
    width: 270px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.membros .container .team .card-homem .dude{
    height: 166px;
    width: 166px;
}

.membros .container .team .destaque {
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);

}

.membros .container .team .card-homem .texto-homens {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.membros .container .team .card-homem .nome-homem {
    color: #2F2C4A;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
}

.membros .container .team .card-homem .arroba-homem {
    color: #656464;
}
 /* PUBLICIDADE */

 .publi{
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #E5F0FD;
    display: flex;
    justify-content: space-between;
}

.publi-img img{
    width: 639px;
}

.publi-conteudo{
    display: flex;
    /* flex-direction: row-reverse; */
}

.publi-conteudo-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.publi-conteudo-textos1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}

.publi-conteudo-textos2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #0A093D;
}

.publi-conteudo-textos3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #656464;
}
.publi-conteudo-textos div{
    padding-bottom: 15px;
}

.publi-conteudo-textos-botoes{
    display: flex;
    align-items: center;
}

.publi-img{
    display: flex;
}

.apple-pic{
    padding-right: 20px;
} 

/* Latest News */

.latest-news {

    width: 100%;

}

.latest-news .container .textocima {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.latest-news .container .textocima .azul-valuable {
    color: #217BF4;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
}

.latest-news .container .textocima .our-active {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 36px;
    color: #0A093D;

}
.latest-news .container .fotos-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

}

.latest-news .container .fotos-container .bloco-fotos{

    width: 30%; 
}

.latest-news .container .fotos-container .bloco-fotos .img-news{
    width: 100%;
}

.latest-news .container .fotos-container .bloco-fotos .traco-foto-texto{
    width: 90%;
    padding-left: 5%;
    line-height: 25px;
    color: #2F2C4A;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
}

.latest-news .container .fotos-container .bloco-fotos .traco-foto-texto .traco{

    margin-right: 20px;
    color: #FFAF2E;
    font-size: 40px;
    margin-top: -13px; 
    
}

.latest-news .container .fotos-container .bloco-fotos .texto-foto .texto-baixo{
    color: #656464;
    font-size: 16px;
    margin-top: 20px;
}



